@{
    ViewData["Title"] = "Abous Us";
}
<head>
    <title>Recreational Activities</title>

    <link rel="stylesheet" type="text/css" href="~/css/index.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,500"
          rel="stylesheet"
          type="text/css" />
    <link rel="stylesheet"
          type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One|Pacifico|Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <div class="head">
        <div class="topnav">
            <a asp-area="" asp-controller="Home" asp-action="Index">HOME</a>
            <a asp-area="" asp-controller="Home" asp-action="Read_rec_data">EXPLORE</a>
            <a class="active" asp-area="" asp-controller="Home" asp-action="HelloIndex">ABOUT US</a>
            <a asp-area="" asp-controller="Signups" asp-action="Create">SIGN UP</a>
            <a asp-area="" asp-controller="Home" asp-action="Refresh">DELETE</a>
        </div>
        <div class="ab_section" style="overflow-x:auto;">
            <h1 class="about_us" align="left">Our Purpose Defines Us</h1>
            <h3><a href="https://github.com/shreyasthombare/DIS_Assignment_3">Github Link</a></h3>
            <div class="ab_section_2" style="overflow-x:auto;">
                <table class="ab_table" cellspacing="10" style="overflow-x:auto;">
                    <tr>
                        <td style="padding-right:5px"><img class="ab_img " src="~/img/shreyas.jpg" align="left" style="width:300px;height:250px"></td>
                        <td style="padding-right:5px"><img class="ab_img" src="~/img/snehal.jpg" align="left" style="width:300px;height:250px"></td>
                        <td style="padding-right:5px"><img class="ab_img" src="~/img/aditi.jpg" align="left" style="width:300px;height:250px"></td>
                    </tr>
                    <tr>
                        <td style="padding-right:5px">Shreyas Thombare</td>
                        <td style="padding-right:5px">Snehal Maid</td>
                        <td style="padding-right:5px">Aditi Kochar</td>
                    </tr>
                </table>
            </div>

            <div class="ab_section_2" style="overflow-x:auto;">
                <table class="ab_table" style="overflow-x:auto;">
                    <tr>
                        <td><h2> Our Focus </h2></td>
                    </tr>
                    <tr>
                        <td><h3> We developed a web application which allows user to search recreation activities in Montgomery County Recreation. The web application enables user to sign up for a membership of specific recreational activity.</h3></td>
                    </tr>
                    <tr>
                        <td><h2> Content </h2></td>
                    </tr>
                    <tr>
                        <td><h3> We have downloaded the data from data.gov website. The dataset includes details of Montgomery County Recreation activities. The dataset contains columns such as Activity, Recreation Center, Time, Age group, Week of the day etc. </h3></td>
                    </tr>
                    <tr>
                        <td><h2> Usability </h2></td>
                    </tr>
                    <tr>
                        <td><h3> We have used chart.js to visualize number of recreational activities throughout Montgomery County Recreation. We have summarised our dataset in a nutshell and have focused on tables and images for better usability.</h3></td>
                    </tr>
                    <tr>
                        <td><h2> Responsiveness </h2></td>
                    </tr>
                    <tr>
                        <td><h3> We have used viewport and "meta" tag in order to make table and images responsive.</h3></td>
                    </tr>
                    <tr>
                        <td><h2> Learning </h2></td>
                    </tr>
                    <tr>
                        <td><h3> This assignment helped us to understand basics of web designing. We approached this assignment by making wireframes and implemented them considering usability in mind. It enabled us to gain working knowledge of javascript, chart.js, html and css.</h3></td>
                    </tr>
                    <tr>
                        <td><h2> Contribution of the group members </h2></td>
                    </tr>
                    <tr>
                        <td><h3> We worked collaboratively to brainstorm and identify dataset on data.gov website. Each member contributed in making the website up and running while designing and developing each web page.</h3></td>
                    </tr>
                    <tr>
                        <td>
                            <br><br>
                            <img class="ab_img" src="img/m.png" alt="Data Model" style="width:800px;height:400px">
                        </td>
                    </tr>

                </table>
            </div>
        </div>
</body>