@{
    ViewData["Title"] = "Index";
}

<head>
    <title>Recreational Activities</title>

    
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,500"
          rel="stylesheet"
          type="text/css" />
    <link rel="stylesheet"
          type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One|Pacifico|Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <div class="head">
        <div class="topnav">
            <a class="active" asp-area="" asp-controller="Home" asp-action="Index">HOME</a>
            <a asp-area="" asp-controller="Home" asp-action="Read_rec_data">EXPLORE</a>
            <a asp-area="" asp-controller="Home" asp-action="HelloIndex">ABOUT US</a>
            <a asp-area="" asp-controller="Signups" asp-action="Create">SIGN UP</a>
            <a asp-area="" asp-controller="Home" asp-action="Refresh">DELETE</a>


            <div class="bodyone">

            </div>
        </div>


        <div>
            <h1 class="home_about_dataset" align="center">Montgomery County Recreation Spring Gym Activities</h1>
        </div>
        <div class="desc">
            <h2>
                Montgomery County Recreation has 21 recreation centers located throughout Montgomery County that offers a wide range of activities for children, teens, and adults.
            </h2>
        </div>
        <div class="act_table" style="overflow-x:auto;">
            <h1 class="home_act"> Activities Include: </h1></marquee>

            <table class="table_act_home">

                <tr>
                    <td>
                        Classes
                    </td>

                    <td>
                        Workshops
                    </td>
                    <td>
                        Clinics
                    </td>

                    <td>
                        Drop-in programs
                    </td>
                </tr>
                <tr>
                    <td>
                        Supervised play
                    </td>
                    <td>
                        Sports
                    </td>


                    <td>
                        Open Gym
                    </td>
                    <td>
                        Craft
                    </td>
                </tr>

            </table>
        </div>
        <br>
        <h2 style="color:purple;">
            Our centers have diverse amenities that includes weight rooms, social halls, meeting spaces, classrooms, billiards and game rooms. We have a wide array of rooms available for use, from social halls to meeting rooms. You must obtain a Recreation Permit in order to avail these facilities.
        </h2>


    </div>
    

</body>
